#include "windows.h"

1000 DIALOG DISCARDABLE  100, 100, 200, 49
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "BASS simple DSP test"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "click here to open a file...",10,5,5,190,14
    CONTROL         "rotate",11,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,40,30,
                    35,10
    CONTROL         "echo",12,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,80,30,35,
                    10
    CONTROL         "flanger",13,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,
                    30,35,10
END
