# Build Objects
*.obj
*.log
*.tlog
proj/Release/*
proj/Debug/*

# VS user specific files
proj/IPHLPAPI.sdf
proj/IPHLPAPI.v12.suo
proj/IPHLPAPI.vcxproj.filters
proj/IPHLPAPI.vcxproj.user
proj/IPHLPAPI.opensdf

# Library includes (excluding detours)
incl/curl/*
incl/openssl/*
incl/crc32.h
incl/deflate.h
incl/gzguts.h
incl/inffast.h
incl/inffixed.h
incl/inflate.h
incl/inftrees.h
incl/trees.h
incl/zconf.h
incl/zlib.h

# Library libs (excluding detours)
lib/engines/*
lib/libcurl_a.*
lib/libcurl_a_debug.lib
lib/libeay32.*
lib/ssleay32.*
lib/zlib.*

