#include <windows.h>

1000 DIALOG DISCARDABLE  100, 100, 200, 83
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "BASS DX8 effects test"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "click here to open a file...",10,5,5,190,14
    CONTROL         "",20,"msctls_trackbar32",TBS_BOTH | TBS_VERT |
                    WS_TABSTOP,20,25,30,45
    CONTROL         "",21,"msctls_trackbar32",TBS_BOTH | TBS_VERT |
                    WS_TABSTOP,55,25,30,45
    CONTROL         "",22,"msctls_trackbar32",TBS_BOTH | TBS_VERT |
                    WS_TABSTOP,90,25,30,45
    CONTROL         "",23,"msctls_trackbar32",TBS_BOTH | TBS_VERT |
                    WS_TABSTOP,150,25,30,45
    CTEXT           "125 hz",-1,20,72,30,8
    CTEXT           "1 khz",-1,55,72,30,8
    CTEXT           "8 khz",-1,90,72,30,8
    CTEXT           "reverb",-1,150,72,30,8
END
