#include "windows.h"

1000 DIALOG DISCARDABLE  200, 100, 200, 55
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "BASS recording test"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        16,5,5,65,72,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        13,5,20,65,72,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CTEXT           "",15,5,34,65,8,SS_CENTERIMAGE
    CONTROL         "",14,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | 
                    WS_TABSTOP,5,43,65,9
    PUSHBUTTON      "Record",10,75,5,120,13
    PUSHBUTTON      "Play",11,75,21,57,13,WS_DISABLED
    PUSHBUTTON      "Save",12,138,21,57,13,WS_DISABLED
    CTEXT           "",20,75,38,120,12,SS_CENTERIMAGE | SS_SUNKEN
END
