
1000	DIALOG 0, 0, 260, 68
STYLE	DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "BASS multiple output example"
FONT 8, "MS Sans Serif"
BEGIN
  GROUPBOX	"",				20,   5, 2,  250, 29
  PUSHBUTTON	"click here to open a file...",	10,  10, 11, 180, 14
  GROUPBOX	"",				21,   5, 35, 250, 29
  PUSHBUTTON	"click here to open a file...",	11,  10, 44, 180, 14
  PUSHBUTTON	"clone #2",			15, 195, 11,  40, 14
  PUSHBUTTON	"clone #1",			16, 195, 44,  40, 14
  PUSHBUTTON	"swap",				30, 225, 27,  25, 14
END

2000	DIALOG 115, 100, 170, 60
STYLE	WS_POPUP | DS_CENTER | WS_VISIBLE | WS_CAPTION
FONT 8, "MS Sans Serif"
BEGIN
  LISTBOX		10,     5,  5, 160, 35, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
  DEFPUSHBUTTON	"OK",	IDOK, 100, 44,  60, 12
END

