#include "windows.h"

1000 DIALOG DISCARDABLE  200, 50, 195, 185
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "BASS internet radio tuner"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Presets",-1,5,2,185,45
    LTEXT           "High quality",-1,10,15,48,8
    LTEXT           "Low quality",-1,10,30,48,8
    PUSHBUTTON      "1",10,60,11,20,15
    PUSHBUTTON      "1",11,60,27,20,15
    PUSHBUTTON      "2",12,86,11,20,15
    PUSHBUTTON      "2",13,86,27,20,15
    PUSHBUTTON      "3",14,112,11,20,15
    PUSHBUTTON      "3",15,112,27,20,15
    PUSHBUTTON      "4",16,138,11,20,15
    PUSHBUTTON      "4",17,138,27,20,15
    PUSHBUTTON      "5",18,164,11,20,15
    PUSHBUTTON      "5",19,164,27,20,15
    GROUPBOX        "Custom",-1,5,50,185,28
    EDITTEXT        20,10,60,145,12,ES_AUTOHSCROLL
    PUSHBUTTON      "open",21,160,60,25,12
    GROUPBOX        "Currently playing",-1,5,81,185,57
    CTEXT           "",30,10,91,175,16,SS_NOPREFIX
    CTEXT           "not playing",31,10,109,175,16,SS_NOPREFIX
    CTEXT           "",32,10,127,175,8,SS_NOPREFIX
    GROUPBOX        "Proxy server",-1,5,141,185,40
    EDITTEXT        40,10,151,175,12,ES_AUTOHSCROLL
    LTEXT           "[user:pass@]server:port",-1,109,165,76,8
    CONTROL         "Direct connection",41,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,15,167,72,10
END
